body {
  padding: 60px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/background.png');
}

a {
  color: #00B7FF;
}

.icon-left {
  margin-right: 5px !important;
}

.icon-right {
  margin-left: 5px !important;
}

a {
  color: #fff;
}