body {
  padding: 60px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/background.png');
}

a {
  color: #00B7FF;
}

.icon-left {
  margin-right: 5px !important;
}

.icon-right {
  margin-left: 5px !important;
}

a {
  color: #fff;
}

.dataTables_info, .dataTables_length {
  padding-left: 10px;
}

.dataTables_length {
  padding-top: 10px;
}

.dataTables_paginate {
  padding-right: 10px;
}

.dataTables_filter {
  padding-top: 10px;
  padding-right: 10px;
}

.dataTables_filter label input{
  margin-left: 10px;
}

.dataTables_length label select{
  margin-right: 5px;
  margin-left: 5px;
}